p{
    color:rgb(76, 0, 255);
    padding-bottom: 50px;
}

a{
    color:rgb(199, 3, 3)
}

h1{
    color:rgb(42, 0, 139)
}

h2{
    color:rgb(42, 0, 139)
}

h3{
    color:rgb(42, 0, 139)
}

strong{
    color:rgb(42, 0, 139)
}

div{
    color:rgb(76, 0, 255)
}

