p{
    color:rgb(0, 255, 64);
}

div{
    color:rgb(199, 3, 3)
}

h1{
    color:rgb(0, 184, 46)
}

h2{
    color:rgb(0, 184, 46)
}

h3{
    color:rgb(0, 184, 46)
}

strong{
    color:rgb(0, 184, 46)
}